<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/performances" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary">Dodaj novu predstavu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        Nova predstava
      </ion-card-title>
      <ion-img src="assets/images/repertoire.jpg" class="image"></ion-img>
      <ion-card-subtitle>
        Popunjavanjem forme u nastavku možete da dodate novu predstavu u repertoar
      </ion-card-subtitle>
    </ion-card-header>

  <ion-card-content>
    <form [formGroup]="addPerformance" (ngSubmit)="onAddPerformance()">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Naziv</ion-label>
              <ion-input type="text" name="name" formControlName="name" required></ion-input>
            </ion-item>

            <div>
              <ng-container *ngFor="let validation of validationMessage.name">
                <small
                  *ngIf="addPerformance.get('name').hasError(validation.type) &&
                  (addPerformance.get('name').dirty ||
                  addPerformance.get('name').touched)">
                  {{validation.message}}
                </small>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Opis radnje</ion-label>
              <ion-textarea rows="6" type="text" name="description" formControlName="description" required></ion-textarea>
            </ion-item>

            <div>
              <ng-container *ngFor="let validation of validationMessage.description">
                <small
                  *ngIf="addPerformance.get('description').hasError(validation.type) &&
                  (addPerformance.get('description').dirty ||
                  addPerformance.get('description').touched)">
                  {{validation.message}}
                </small>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Datum</ion-label>
              <ion-datetime type="text" displayFormat="MMM DD, YYYY HH:mm" cancelText="Nazad" doneText="Izaberi" name="date" formControlName="date" required></ion-datetime>
            </ion-item>

            <div>
              <ng-container *ngFor="let validation of validationMessage.date">
                <small
                  *ngIf="addPerformance.get('date').hasError(validation.type) &&
                  (addPerformance.get('date').dirty ||
                  addPerformance.get('date').touched)">
                  {{validation.message}}
                </small>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Scena</ion-label>
              <ion-input type="text" name="place" formControlName="place" required></ion-input>
            </ion-item>

            <div>
              <ng-container *ngFor="let validation of validationMessage.place">
                <small
                  *ngIf="addPerformance.get('place').hasError(validation.type) &&
                  (addPerformance.get('place').dirty ||
                  addPerformance.get('place').touched)">
                  {{validation.message}}
                </small>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Cena karte u dinarima</ion-label>
              <ion-input type="number" name="price" formControlName="price" required></ion-input>
            </ion-item>

            <div>
              <ng-container *ngFor="let validation of validationMessage.price">
                <small
                  *ngIf="addPerformance.get('price').hasError(validation.type) &&
                  (addPerformance.get('price').dirty ||
                  addPerformance.get('price').touched)">
                  {{validation.message}}
                </small>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Glumci</ion-label>
              <ion-textarea rows="6" name="actors" formControlName="actors" required></ion-textarea>
            </ion-item>

            <div>
              <ng-container *ngFor="let validation of validationMessage.actors">
                <small
                  *ngIf="addPerformance.get('actors').hasError(validation.type) &&
                  (addPerformance.get('actors').dirty ||
                  addPerformance.get('actors').touched)">
                  {{validation.message}}
                </small>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Slika</ion-label>
              <ion-input type="text" name="imageUrl" formControlName="imageUrl" required></ion-input>
            </ion-item>

            <div>
              <ng-container *ngFor="let validation of validationMessage.imageUrl">
                <small
                  *ngIf="addPerformance.get('imageUrl').hasError(validation.type) &&
                  (addPerformance.get('imageUrl').dirty ||
                  addPerformance.get('imageUrl').touched)">
                  {{validation.message}}
                </small>
              </ng-container>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="sign-btn-wrap">
        <ion-button type="submit" shape="round" fill="solid" class="sign-btn" [disabled]="!addPerformance.valid">Sačuvaj</ion-button>
      </div>

    </form>
  </ion-card-content>
</ion-card>
</ion-content>
