ion-content{
  --ion-background-color: hsl(0, 0%, 97%);
}

ion-header{
  position: absolute;
}

ion-toolbar{
  --ion-background-color: transparent;
  --opacity: 0;
}

ion-card{
  --ion-background-color: transparent;
  box-shadow: none !important;

  @media(min-width:760px){
    margin-top: 80px;
  }
}

.image{
  @media(min-width:760px){
    display: none;
  }
}

ion-card-title{
  margin-top: 30px;
  font-size: 20px;
  color: #810000;
  text-align: center;
  font-weight: bold;
}

ion-card-subtitle{
  padding-top: 15px;
  font-size: 11px;
  color: #810000;
  text-align: center;
  font-weight: 200;
}

.signin-btns{
  margin-top: 20px;
  text-align: center;
  color: #810000;

  .login-btn{
    color: #eeebdd;
  }

  .signup-btn{
    color: #810000;
  }

  @media(min-width:760px){
    margin-bottom: 190px;
  }
}

